<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Página con Botones</title>
  </head>
  <body>
    <div class="top-section">
      <button class="button button-github">GitHub</button>
      <button class="button button-creador">Creador</button>
    </div>
    <div class="center-section">
      <div class="container">
        <button class="button button-ip" id="ip-button">IP</button>
        <button class="button button-conector" id="conector-button">Conector</button>
      </div>
        <div class="container" id="container"></div>
    </div>
    <script src="/static/index.js"></script>
  </body>
</html>
